@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  max-width: 1090px;
  margin: 0 auto;
  background-color: #f8f5f2;
  font-family: monospace;
  font-size: 1rem;
  color: #222525;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 1090px;
  margin-left: auto;
  margin-right: auto;
  background: #f8f5f2;
  border-bottom: 1px dashed #f45d48;
}

.header__name {
  padding: 10px 7px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  display: inline-block;
  padding: 0 10px;
  /*margin: 0 -10px;*/
  text-decoration: none;
  color: #222525;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
nav a:hover,
nav a:focus {
  box-shadow: inset 120px 0 0 0 #f45d48;
  color: #f8f5f2;
}

.home-section,
.about-section,
.projects-section,
.contact-section {
  padding-left: 20px;
  padding-right: 20px;
}

.home-section {
  min-height: 100vh;
  margin-top: 200px;
}

h1 {
  padding: 300px 50px;
  font-size: 5rem;
  text-align: center;
  color: #f45d48;
}

.about-section {
  min-height: 100vh;
  margin-top: 80px;
  padding-top: 150px;
}
.about-section__img {
  float: left;
  margin-top: 135px;
}
.about-section__text {
  margin-top: 220px;
  margin-left: 400px;
}
.about-section__text--smaller-citation {
  font-size: 0.7rem;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section__text--link {
  text-decoration: none;
  color: #f45d48;
  font-weight: 600;
}
.about-section__text--link:focus,
.about-section__text--link:hover {
  text-decoration: underline;
}

/*.about-section__img {
  float: left;
  margin-top: 135px;
}

.about-section__text {
  margin-top: 220px;
  margin-left: 400px;
}

.about-section__text--smaller-citation {
  font-size: $citationFontSize;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section__text--link {
  text-decoration: none;
  color: $fontColor;
  font-weight: 600;
}

.about-section__text--link:hover,
.about-section__text--link:focus {
  text-decoration: underline;
}*/
.projects-section {
  padding-top: 200px;
}
.projects-section__text {
  margin-bottom: 30px;
}

/*.projects-section__text {
  margin-bottom: 30px;
}*/
.project-card {
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid #078080;
  border-radius: 10px;
}

.projects-section__project-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(-webkit-min-content, 320px));
  grid-template-columns: repeat(3, minmax(min-content, 320px));
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  row-gap: 30px;
  grid-auto-rows: minmax(200px, auto);
  /*grid-template-columns: repeat(3, minmax(min-content, 320px));
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  row-gap: 30px;
  grid-auto-rows: minmax(200px, auto);*/
}

.contact-section {
  padding-top: 200px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.contact-section a {
  text-decoration: none;
  color: #078080;
}

.contact-section a:hover {
  border-bottom: 2px solid #078080;
}

.contact-section img {
  width: 100%;
  /*height: auto;*/
  min-width: 0;
}

.contact-section p {
  align-self: center;
}

footer {
  text-align: center;
  border-top: 1px dashed #f45d48;
  color: #f45d48;
  font-size: 0.8rem;
}

/*************************************** TABLET **********************************/
@media screen and (max-width: 1090px) {
  body {
    width: 100%;
  }

  header {
    width: 100%;
    /*margin-left: 20px;
    margin-right: 20px;*/
    border-bottom: 1px dashed #f45d48;
  }

  .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-section__img {
    margin-left: 0;
    margin-top: 0;
  }

  .about-section__text {
    margin-left: 0;
    font-size: 0.8rem;
  }

  .about-section__text--smaller-citation {
    margin-top: 150px;
  }

  .projects-section__text {
    text-align: center;
  }

  .projects-section__project-cards {
    grid-template-columns: repeat(2, minmax(-webkit-min-content, 330px));
    grid-template-columns: repeat(2, minmax(min-content, 330px));
    justify-content: space-evenly;
  }
}
/***********************   MOBIL   ******************************************/
@media screen and (max-width: 699px) {
  body {
    font-size: 1.1rem;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }

  header {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    width: 100%;
    border-bottom: none;
    margin: 0;
  }

  header .picture {
    /*width: 100%;*/
    border-bottom: 1px dashed #f45d48;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
  }

  header picture {
    margin: 20px auto;
  }

  nav {
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed #f45d48;
    margin-top: 2px;
  }

  nav a {
    padding: 10px;
  }

  nav a:last-child {
    margin-bottom: 2px;
  }

  .home-section,
  .about-section,
  .projects-section,
  .contact-section {
    padding-left: 5px;
    padding-right: 5px;
  }

  .home-section {
    height: 100vh;
    margin-top: 300px;
  }

  h1 {
    padding: 100px 10px;
    font-size: 3rem;
    text-align: center;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    margin-top: 200px;
  }

  .about-section__img {
    margin-top: 0;
  }

  .about-section__text {
    margin: 0;
  }

  .about-section p {
    margin-top: 50px;
  }

  .about-section__text--smaller-citation {
    margin-top: 200px;
    /*tento margin sa vobec neprepisuje a neviem prečo*/
    text-align: center;
  }

  .projects-section__project-cards {
    grid-template-columns: minmax(-webkit-min-content, 300px);
    grid-template-columns: minmax(min-content, 300px);
    row-gap: 20px;
    grid-auto-rows: minmax(200px, auto);
    justify-content: center;
  }

  .contact-section {
    font-size: 1rem;
  }

  footer {
    text-align: center;
    border-top: 1px dashed #f45d48;
    color: #f45d48;
    font-size: 0.6rem;
  }
} /*# sourceMappingURL=style.css.map */
